<a href="https://colab.research.google.com/github/varshapande/Assignment/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1Write a Python function to sum all the numbers in a list.

In [35]:
n = int(input())
l = []
for i in range(n):
    ele = int(input())
    l.append(ele)
print(l)

3
2
3
4
[2, 3, 4]

In [36]:
def addition(ls):
  sum = 0
  for ele in l:
     sum += ele
  return sum
addition(l)

9

In [42]:
# use of sum function
total = sum(l)
print(total)

9

Q2 Write a Python program to reverse a string.

In [43]:
def rever(s_t):
      s_t = s_t[::-1]
      return s_t
rever('varsh64')

'46hsrav'

In [44]:
def rever(s_t):
  for i in range(-1,-len(s_t)-1,-1):
   print( s_t[i],end = '')
rever('varsha987')

789ahsrav

Q3 Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [49]:
def count_letter(st):
   up = 0
   lw = 0
   for i in st:
       if  i >="A" and i <='Z':
         up = up+1
       if  i >= 'a' and i <= 'z':
         lw = lw+1
   print(lw)
   print(up)

In [51]:
count_letter('VarsHaPand68ey')

9
3