<a href="https://colab.research.google.com/github/varshapande/Assignment/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1Write a Python function to sum all the numbers in a list.

In [ ]:
n = int(input())
l = []
for i in range(n):
    ele = int(input())
    l.append(ele)
print(l)

4
5
6
4
8
[5, 6, 4, 8]

In [ ]:
def addition(ls):
  sum = 0
  for ele in ls:
     sum = sum+ ele
  return sum
addition(l)

23

In [ ]:
def addition(*ls):
  sum = 0
  for ele in ls:
     sum = sum+ ele
  return sum
print(addition(2,3,4,5,7))  
print(addition(6,4,2,5))

21
17

In [ ]:
# use of sum function
def addition(ls):
  y = sum(ls)
  return y
addition(l)

23

Q2 Write a Python program to reverse a string.

In [ ]:
def rever(s_t):
      s_t = s_t[::-1]
      return s_t
rever('varsh64')

'46hsrav'

In [ ]:
def rever(s_t):
  for i in range(-1,-len(s_t)-1,-1):
   print( s_t[i],end = '')
rever('varsha987')

789ahsrav

Q3 Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [ ]:
def count_letter(st):
   up = 0
   lw = 0
   for i in st:
       if  i >="A" and i <='Z':
         up = up+1
       if  i >= 'a' and i <= 'z':
         lw = lw+1
   print(lw)
   print(up)

In [ ]:
count_letter('VarsHaPand68ey')

9
3